<main class="content">
  <!-- <mat-drawer-container>
      <mat-drawer mode="side" opened>
        <app-filters-component></app-filters-component>
      </mat-drawer>
      <mat-drawer-content>
        <app-products-component></app-products-component>
      </mat-drawer-content>
  </mat-drawer-container> -->

	<div fxLayout="row" fxLayoutAlign="start start" class="content">
		<div class="filters" fxFlex = "20%">
      <app-filters-component></app-filters-component>
    </div>
		<div class="products-content" fxFlex = "80%">
      <app-products-component></app-products-component>
    </div>
	</div>
</main>
