.chips-container {
  padding-left: 10px;
}

.filters-container {
  padding-bottom: 10px;
}

h2 {
  color: white;
}

.new-button-content {
  padding-bottom: 10px;
  a {
    background-color: #0393f9;
  }
}

button {
  background-color: #53c752;
}

mat-accordion {
  width: 100%;
}

mat-form-field {
  width: 100%;
}
