<main class="content">
	<form (ngSubmit)="form.form.valid && onSubmit()" fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card #form="ngForm" ngForm>
      <mat-card-title>Product</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input [(ngModel)]="product.name" matInput placeholder="Name" name="name" #name="ngModel" required>
          <mat-error *ngIf="name.invalid">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="product.price" matInput placeholder="Price" name="price" #price="ngModel" type="number" required>
          <mat-error *ngIf="price.invalid">
            Price is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="product.quantity" matInput placeholder="Quantity" name="quantity" #quantity="ngModel" type="number" required>
          <mat-error *ngIf="quantity.invalid">
            Quantity is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Availability</mat-label>
          <mat-select [(ngModel)]="product.availability" name="availability" #availability="ngModel" required>
            <mat-option [value]=true>Available</mat-option>
            <mat-option [value]=false>Unavailable</mat-option>
          </mat-select>
          <mat-error *ngIf="availability.invalid">
            Availability is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-raised-button type="submit" class="form-buttons save-button">
              SAVE
            </button>
            <a mat-raised-button color="warn" (click)="back()" class="form-buttons">CANCEL</a>
        </div>
      </mat-card-actions>
    </mat-card>
	</form>
</main>
