<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px" class="products-container">
  <div class="product">
    <mat-card>
        <mat-card-title>
          titulo
        </mat-card-title>
        <mat-card-content>
          <span>$123</span><br>
          <span>No Disponible</span><br>
          <span>Quedan 33 en stock</span><br>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="product">
    <mat-card>
      <mat-card-title>
        titulo
      </mat-card-title>
      <mat-card-content>
        <span>$123</span><br>
        <span>No Disponible</span><br>
        <span>Quedan 33 en stock</span><br>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="product">
    <mat-card>
        <mat-card-title>
          titulo
        </mat-card-title>
        <mat-card-content>
          <span>$123</span><br>
          <span>No Disponible</span><br>
          <span>Quedan 33 en stock</span><br>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="product">
    <mat-card>
      <mat-card-title>
        titulo
      </mat-card-title>
      <mat-card-content>
        <span>$123</span><br>
        <span>No Disponible</span><br>
        <span>Quedan 33 en stock</span><br>
      </mat-card-content>
    </mat-card>
  </div>
</div>
