<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px" class="products-container">
  <div class="product" *ngFor="let product of products">
    <mat-card>
        <mat-card-title>
          {{ product.name }}
        </mat-card-title>
        <mat-card-content>
          <span>${{ product.price | number }}</span><br>
          <span *ngIf="product.availability">Available</span><br *ngIf="product.availability">
          <span *ngIf="!product.availability">Unavailable</span><br *ngIf="!product.availability">
          <span>{{ product.quantity }} left in stock</span><br>
        </mat-card-content>
    </mat-card>
  </div>
</div>
